<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>EMUSA | Great Packaging For Great Ideas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="icons/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon-180x180.png" />

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/materialize.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="navbar-fixed">        
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo"><img src="img/logo.png"></a>
                    <ul class="right">
                       <li class="active"><a href="index.html">EDITAR</a></li>
                       <li><a href="#logout">SALIR</a></li>
                    </ul>
                </div>
            </nav>
        </div>
          <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="section top-section">
              <div class="container">
                <div class="row">
                  <div class="input-field col s12">
                    <select class="browser-default">
                      <option value="" disabled selected>Elige el idioma</option>
                      <option value="1">Español</option>
                      <option value="2">Inglés</option>
                      <option value="3">Portugués</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col s12">
                    <ul class="collapsible popout" data-collapsible="expandable">
                      <li>
                        <div class="collapsible-header">INFORMACIÓN DE LA EMPRESA</div>
                        <div class="collapsible-body">
                          <div class="container">
                            <form>
                              <div class="row">
                                <div class="input-field col s12">
                                  {{form1.correo}}
                                  <!-- <input id="email" type="email" class="validate" value="customerservice@emusa.com.pe"> -->
                                  <label class="active" for="email">Correo</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <label class="active" for="number">Teléfonos</label>
                                  <!-- <input id="number1" type="tel" class="validate" value="(511) 6176700">
                                  <input id="number2" type="tel" class="validate" value="(502) 65450500">
                                  <input id="number3" type="tel" class="validate" value="(55) 19-3113-3131"> -->
                                  {{form1.telf1}}
                                  {{form1.telf2}}
                                  {{form1.telf3}}
                                </div>
                              </div>
                              <div class="row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Logo</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <!-- <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG"> -->
                                    {{form1.logo}}
                                  </div>
                                </div>
                              </div>  
                              <div class="row">
                                <div class="input-field col s12">
                                  <label class="active" for="menu">Menú</label>
                                  <input id="menu1" type="text" value="{{form1.menu1}}">
                                  <input id="menu2" type="text" value="{{form1.menu2}}">
                                  <input id="menu3" type="text" value="{{form1.menu3}}">
                                  <input id="menu4" type="text" value="{{form1.menu4}}">
                                  <input id="menu5" type="text" value="{{form1.menu5}}">
                                  <input id="menu6" type="text" value="{{form1.menu6}}">
                                </div>
                              </div>
                              <!-- <div class="row">
                                <div class="col s12 center-align">
                                    <a class="waves-effect waves-light btn-large">GUARDAR</a>
                                </div>
                              </div> -->
                            </form>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="collapsible-header">INICIO</div>
                        <div class="collapsible-body">
                          <div class="container">
                            <form>
                              <h5>SECCIÓN 1</h5>
                              <div class="row first-row">
                                <div class="input-field col s12">
                                  <input id="texto-tit1" type="text" value="BIENVENIDOS A EMUSA">
                                  <label class="active" for="text">Texto Título 1</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <textarea id="texto-secun1" class="materialize-textarea">Somos una compañía que ofrece soluciones de empaques flexibles con altos estándares de calidad, con operaciones en Brasil, Perú y Guatemala.</textarea>
                                  <label class="active" for="textarea">Texto Secundario 1</label>
                                </div>
                              </div>                              
                              <div class="row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Empaque 1</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Empaque 2</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Empaque 3</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Empaque 4</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Empaque 5</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Empaque 6</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div>  
                              <h5>SECCIÓN 2</h5>
                              <div class="row first-row">
                                <div class="input-field col s12">
                                  <input id="texto-tit2" type="text" value="QUIÉNES SOMOS">
                                  <label class="active" for="text">Texto Título 2</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <textarea id="texto-secun2" class="materialize-textarea">Somos una compañía con más de 30 años de experiencia que ofrece soluciones de empaques flexibles en los sectores Food, Non Food y Agro con altos estándares de calidad. Tenemos operaciones en Brasil, Perú y Guatemala, y con un alcance a más de 22 países. Pertenecemos a una holding de empresas con presencia a nivel mundial con negocios en los mercados de papel, químicos, agroindustrial, energía, gestión portuaria, entre otros.</textarea>
                                  <label class="active" for="textarea">Texto Secundario 2</label>
                                </div>
                              </div>                              
                              <div class="row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen 1</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen 2</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div> 
                              <h5>SECCIÓN 3</h5>
                              <div class="row first-row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen Título 3</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <input id="texto-subtit1" type="text" value="VISIÓN">
                                  <label class="active" for="text">Texto Subtítulo 1</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <textarea id="texto-secun2" class="materialize-textarea">Consolidar a Emusa como un productor regional de empaques flexibles.</textarea>
                                  <label class="active" for="textarea">Texto Secundario Sub1</label>
                                </div>
                              </div>                              
                              <div class="row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen Sub1</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <input id="texto-subtit1" type="text" value="MISIÓN">
                                  <label class="active" for="text">Texto Subtítulo 2</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <textarea id="texto-secun2" class="materialize-textarea">Proveer empaques flexibles a diversos sectores industriales (Food, Non Food y Agro), producidos con una excelente calidad gráfica, inocuidad, una alta productividad y eficiencia en costos; generando finalmente valor para sus clientes, colaboradores y accionistas.</textarea>
                                  <label class="active" for="textarea">Texto Secundario Sub2</label>
                                </div>
                              </div>                              
                              <div class="row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen Sub2</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div>

                              <h5>SECCIÓN 4</h5>
                              <div class="row first-row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen Sección 4</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div>

                              <h5>SECCIÓN 5</h5>
                              <div class="row first-row">
                                <div class="input-field col s12">
                                  <input id="texto-tit1" type="text" value="ESTÁNDARES DE">
                                  <label class="active" for="text">Texto Título 5</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen Título 5</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <textarea id="texto-secun2" class="materialize-textarea">
&lt;p class=&quot;text-justify&quot;&gt;Poseemos un sistema de control de calidad basado en la norma ISO9001:2000, GMP y HACCP, nuestro principal prop&#243;sito es cuidar la salud de los consumidores finales y asegurar buenas practicas en la manipulaci&#243;n de los envases.&lt;/p&gt;
&lt;p class=&quot;text-justify&quot;&gt;Este sistema nos ha permitido obtener:&lt;/p&gt;
&lt;p class=&quot;text-justify&quot;&gt;
  &lt;ol&gt;
    &lt;li&gt;Q.S.E. (Evaluaci&#243;n de Sistemas de Calidad), acreditaci&#243;n basada en AIB (The American Institute of Baking)  requisitos internacionales.&lt;/li&gt;
    &lt;li&gt;Certificaci&#243;n de S.G.S. a nombre de algunos de nuestros clientes.&lt;/li&gt;
    &lt;li&gt;Hemos superado con &#233;xito auditorias de nuestros clientes.&lt;/li&gt;
  &lt;/ol&gt;
&lt;/p&gt;</textarea>
                                  <label class="active" for="textarea">Texto Secundario 5 (HTML)</label>
                                </div>
                              </div>                              
                              <div class="row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen Central 5</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen Subtítulo 5</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <textarea id="texto-secun2" class="materialize-textarea">Contamos con certificación AIB que eleva nuestra capacidades de proceso de producción e inocuidad alimentaria.</textarea>
                                  <label class="active" for="textarea">Texto Secundario Sub5</label>
                                </div>
                              </div>                              
                              <div class="row">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Imagen Sub5</span>
                                    <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Sube una imagen en formato PNG o JPG">
                                  </div>
                                </div>
                              </div>

 
 
                            </form>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="collapsible-header">EMPÁCATE</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                      </li>
                      <li>
                        <div class="collapsible-header">TECNOLOGÍA</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                      </li>
                      <li>
                        <div class="collapsible-header">NUESTROS CLIENTES</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                      </li>
                      <li>
                        <div class="collapsible-header">CONTÁCTANOS</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <footer class="page-footer">
                <div class="footer-copyright">
                    <div class="container">
                    © 2016 Copyright Emusa
                    </div>
                </div>
            </footer>
            
            <div class="row">
              <div class="col s12 center-align">
                  <input class="waves-effect waves-light btn-large" type="submit" value="Guardar">
              </div>
            </div>
        </form>
        
         <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
         <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script> -->
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/materialize.min.js"></script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>