{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- <link rel="icon" href="../../favicon.ico"> -->

		<title>EMUSA | Great Packaging For Great Ideas</title>
	
	<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 

		<!-- Custom styles for this template -->
		<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

		<link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../static/bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

		<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>    

<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" id ="1" href="#">EMUSA | FORM</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/">Inicio</a></li>
					</ul>	
				</div>
			</div>
		</nav>


    <div class="container-login">

        <div class="row">
            
            <div class="col-md-12">

                <h1 class="text-center">Sign Up / Login</h1>
                <p>&nbsp;</p>

            </div>

        </div>

        <div class="row">
            
            <div class=" col-md-12 text-center">

                <div class="col-md-push-3 col-md-3 text-center">

                    <form role="form" method="POST" disabled>{% csrf_token %}
                        <p class="text-center"><h3>Registrate:</h3></p>
                        <div class="form-group" >
                            {{ user_register.username }}
                            {{ user_register.username.errors }}
                        </div>
                        <div class="form-group">
                            {{ user_register.email }}
                            {{ user_register.email.errors }}
                        </div>
                        <div class="form-group">
                            {{ user_register.password }}
                            {{ user_register.password.errors }}
                        </div>
                        <button type="submit" name="register_form" class="btn btn-success btn-lg btn-block" disabled>Sign up</button>
                    </form>
                </div>

                <div class="col-md-push-3 col-md-3 text-center">
                    <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <p class="text-center"><h3>Accede al formulario:</h3></p>
                        <div class="form-group">
                            {{ login_form.username }}
                            {{ login_form.username.errors }}
                        </div>
                        <div class="form-group">
                            {{ login_form.password }}
                            {{ login_form.password.errors }}
                        </div>
                        <button type="submit" name="login_form" class="btn btn-success btn-lg btn-block">Log in</button>
                    </form>
                </div>

            </div>

        </div>

    </div>

		<script src="{% static 'js/bootstrap.min.js' %}"></script>							

		<footer class="panel-footer" >
            <div class="footer-copyright">
                <div class="container">
                © 2016 Copyright Emusa
                </div>
            </div>
        </footer>
</body>
</html>